.header {
    background: rgb(86, 136, 243);
    color: white;
}

.game-container {
    width: 97vw;
    height: 80vh;
    background: rgb(255, 185, 185);
}

.game-container div {
    width: 20px;
    height: 20px;
    background: rgb(253, 236, 163);
    display: inline-block;
}

.snake {
    background: green !important;
}

.food {
    background: red !important;
}
